* {
    box-sizing: border-box;
  }
  
  body,
  html {
    padding: 0;
    margin: 0;
  }
  
  @import "Header";
  
  .dashboard {
    padding: 0 40px;
  }
  
  .status {
    color: red;
  }
  
  .navbar {
    background-color: lightgrey;
    padding: 10px;
  }
  
  .navbar span {
    cursor: pointer;
  }
  
  .FormInput {
    padding: 20px;
  }
  
  .FormInput input {
    margin: 5px 0;
    width: 90%;
    padding: 5px;
  }
  
  